html
  head
    title Cache Buster
    != cacheBuster('/stylesheets/style.css')
  body
    p Hello world from jade
    != cacheBuster('/scripts/script.js', {'data-message': 'Hello world from cacheBuster data attribute'})
